<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Aaron Sanches</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Roasted Whole Mackerel </string>
		<key>recipeImage</key>
		<string>roastedMackerel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alex Guarnaschelli</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Grilled Breakfast Pizza with Sausage Gravy</string>
		<key>recipeImage</key>
		<string>grilledPizza</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alton Brown</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Cast Iron Skillet Corn Bread </string>
		<key>recipeImage</key>
		<string>skilletCornbread</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amanda Freitag</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Fireworks Red, White and Blue Daiquiris</string>
		<key>recipeImage</key>
		<string>daiquiries</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Anne Burell</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Argentinian Steak with Parsley Sauce</string>
		<key>recipeImage</key>
		<string>argentinianSteak</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bobby Flay</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Grilled Romaine Salad with Blue Cheese</string>
		<key>recipeImage</key>
		<string>romaineBlueCheese</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Damaris Phillips</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Creme Brulee</string>
		<key>recipeImage</key>
		<string>cremeBrulee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eddie Jackson</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Broiled Sockeye Salmon with Citrus Glaze</string>
		<key>recipeImage</key>
		<string>sockeyeSalmon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Geoffrey Zakarian</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Creole Pinto Beans</string>
		<key>recipeImage</key>
		<string>creolePintoBeans</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guy Fiery</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Safflower Madeleines</string>
		<key>recipeImage</key>
		<string>safflowerMadeline</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ina Garten</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Roasted Garlic Bean Dip</string>
		<key>recipeImage</key>
		<string>garlicBeanDip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jeff Mauro</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Lentil and Orzo Salad with Roasted Cauliflower</string>
		<key>recipeImage</key>
		<string>lentilOrzo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Katie Lee</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Savory Curry Granola with Coconut Oil, Nuts and Seeds</string>
		<key>recipeImage</key>
		<string>granola</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rachael Ray</string>
		<key>title</key>
		<string>Chef</string>
		<key>recipe</key>
		<string>Eddie Jackson&apos;s Kicked-Up Guac</string>
		<key>recipeImage</key>
		<string>eddieGuac</string>
	</dict>
</array>
</plist>
