<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>recipe</key>
		<string>Honeydew Melon and Cilantro Ice Pops</string>
		<key>recipeImage</key>
		<string>honeyDewCilantroPops</string>
		<key>chefImage</key>
		<string>foodNetworkImage</string>
	</dict>
	<dict>
		<key>recipe</key>
		<string>Mocha Brownie Ice Cream Sandwiches</string>
		<key>recipeImage</key>
		<string>MochaBrownieRecipe</string>
		<key>chefImage</key>
		<string>Katie Lee</string>
	</dict>
	<dict>
		<key>recipe</key>
		<string>Watermelon Granita</string>
		<key>recipeImage</key>
		<string>watermelonGranita</string>
		<key>chefImage</key>
		<string>Geoffrey Zakarian</string>
	</dict>
	<dict>
		<key>recipe</key>
		<string>Frozen Key Lime Pie</string>
		<key>recipeImage</key>
		<string>frozenkeyLimePie</string>
		<key>chefImage</key>
		<string>Eddie Jackson</string>
	</dict>
	<dict>
		<key>recipe</key>
		<string>Floating Island</string>
		<key>recipeImage</key>
		<string>floatingIsland</string>
		<key>chefImage</key>
		<string>Alton Brown</string>
	</dict>
	<dict>
		<key>recipe</key>
		<string>Southern Pecan Pie</string>
		<key>recipeImage</key>
		<string>pecanPie</string>
		<key>chefImage</key>
		<string>Anne Burell</string>
	</dict>
	<dict>
		<key>recipe</key>
		<string>Panna Cotta</string>
		<key>recipeImage</key>
		<string>pannaCotta</string>
		<key>chefImage</key>
		<string>Bobby Flay</string>
	</dict>
</array>
</plist>
